:root{
 --orange: #FF9F1C;
 --red: #E71D36;
 --blue: #2EC4B6;
  --paleblue: #80A1C1;
  --green: #3D7A3B;
  --cream: #F6D8AE;
  --darkgrey: #252323;
  --dark: #011627;
  --light: #ACBDBA;
  --boxborder: 6px;
  --ballborder: 12px;
}

html {
  font-size: 0.8em;
  color: var(--dark);
  background-color: var(--darkgrey);
  text-align: center;
}
a {
  color: var(--dark);
}
svg:hover{
  background-color: var(--light);
}
h3:hover {
  background-color: var(--light);
}
li img:hover {
  border-color: var(--light);
}

canvas {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
  height: 75px;
}

.anarchy {
  position: absolute;
  visibility: hidden;
}
img {
  width: 200px;
  height: 200px;
  display: block;
  border-radius: 100%;
  border: var(--ballborder) solid var(--red); 
}
.photo img{
  width: 120px;
  height: 120px;
  border: var(--ballborder) solid var(--orange); 
}
#intro {
  background-color: var(--orange);
  font-size: 18px;
  width: 180px;
  padding: 10px;
  font-family: 'Carter One', cursive; font-size: 22px;
  border: var(--boxborder) solid var(--dark); 
}
h1 {
  width: 320px;
  height: 140px;
  padding-top: 10px;
  font-family: 'Modak', cursive;
  font-size: 70px;
  background-color: var(--orange);
  border: var(--boxborder) solid var(--dark); 
}

h2 {
  width: 150px;
  height: 100px;
  padding-top: 10px;
  font-family: 'Modak', cursive;
  font-size: 50px;
  background-color: var(--orange);
  border: var(--boxborder) solid var(--dark); 
}
h3 {
  width: 200px;
  padding-top: 10px;
  font-family: 'Modak', cursive;
  font-size: 40px;
  background-color: var(--blue);
  border: var(--boxborder) solid var(--dark); 
}
.smaller {
  width: 240px;
}
svg {
  fill: var(--red);
  background-color: var(--dark);
  display: block;
  border-radius: 100%; 
}
li > div {
  background-color: var(--green);
  width: 180px;
  padding: 10px;
  font-family: 'Carter One', cursive; font-size: 14px;
  border: var(--boxborder) solid var(--dark); 
}
p {
  margin-bottom: 10px;
}

